#DATABASE
DATABASE_URL=

#NODEMAILER -> MAILTRAP
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASS=


#NODEMAILER -> GMAIL
MAILER_SERVICE=gmail
MAILER_EMAIL=
MAILER_SECRET_KEY=


#JSONWEBTOKEN 
JWT_SECRET=


NODE_ENV=development


FRONTEND_URL=http://localhost:3000